.error_page_outer {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error_page_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.error_code {
    font-size: 10rem;
    color: #6c757d;
}

.send_link {
    color: #6c757d;
}

.error_message {
    text-align: center;
}

.error_message_main {
    font-weight: 400;
}

.home_link {
    color: #198754;
}