.carousel-item {
    height: 100%;
}

.carousel-inner {
    height: 95vh;
}

.carousel_image {
    object-fit: scale-down;
}

.carousel-caption {
    border-radius: 7px;
    left: 35%;
    right: 35%;
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
}